---
import ItemList from "@/components/react/pages/receipt/itemList/ItemList";

---

<div
    class="
        w-full
    "
>

    <h1
        class="
            text-center
            text-2xl
        "
    >
        Receipt
    </h1>


    <ItemList client:load />


</div>



